gensim==3.7.3
h5py==2.9.0
matplotlib==3.0.3
numpy==1.18.4
opencv-python==4.1.2.30
pandas==0.24.2
pytorch-transformers==1.2.0
s3transfer==0.2.1
scikit-image==0.15.0
scikit-learn==0.22
scipy==1.1.0
sent2vec==0.0.0
sentencepiece==0.1.94
tokenizers==0.5.2
torch==1.2.0
torchfile==0.1.0
torchgeometry==0.1.2
torchlight==0.0.1
torchnet==0.0.2
torchvision==0.4.0
tqdm==4.57.0
transformers==2.5.1
transforms3d==0.3.1